*{
   margin: 0;
   padding: 0;
}
:root{
   --White: hsl(0, 0%, 100%);
   --Light-grayish-violet: hsl(270, 3%, 87%);
   --Dark-grayish-violet: hsl(279, 6%, 55%);
   --Very-dark-violet: hsl(278, 68%, 11%);
}
body{
   box-sizing: border-box;
   font-family: 'Space Grotesk', sans-serif;
   font-size: 18px;
   font-weight: 500;
  
}

.left__section{
   background-image: url(./images/bg-main-desktop.png);
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   width: 30%;
   position: relative;
}
.container{
   display: flex;
   height: 100vh;
}
.card__front{
   left: 20%;
   position: absolute;
   top: 7%; 
}

.card__logo{
   position: absolute;
   right:78%;
   top:5%;
}

.card__info-number{
   display: block;
   color: var(--White);
   font-size: 30px;
   letter-spacing: 0.1563rem;  

}
.info{
   left: 25%;
   position: absolute;
   top: 30%;
   width: 100%;
}
.card__info{
   color: var(--White);
   display: flex;
   font-size: 1.4rem;
   justify-content: space-between;
   left: 25%;
   position: absolute;
   text-transform: uppercase;
   top:40% ;
   width: 100%;
}
.card__back{
   position: absolute;
   top: 53% ;
   left: 50%;

}
.cvc{
   align-items: center;
   color: var(--White);
   display: flex;
   height: 100%;
   justify-content: flex-end;
   
   position:absolute;
   top: 0;
   width: 100%;
   
}
.cvc span{
   padding-right: 3.75rem;
   letter-spacing: 0.125rem;
}

